openapi: 3.0.2
info:
  title: Buzz API
  description: The Easy HIPAA-Secure Communication & Collaboration App For All Who Care♥
  version: '1.1'
  license:
    name: Mobiuso
    url: https://opensource.org/license/mit/
servers:
  - url: https://buzz.skyscape.com/api/v1.1
tags:
  - name: Buzz APIs
    description: APIs for Buzz App
paths:
  /sessions:
    post:
      security: []
      summary: Create a Buzz Session
      description: To create a Buzz session API expects necessary context to be passed in the request body. The session URL in the success reponse then can be used to launch the Buzz Session.
      operationId: CreateBuzzSession
      parameters:
        - name: API-Key
          in: header
          description: API Key for the client. Will be shared by Skyscape.
          required: true
          schema:
            type: string
        - name: Client-Id
          in: header
          description: Unique ID assigned to a client. Will be shared by Skyscape.
          required: true
          schema:
            type: string
        - name: Secret
          in: header
          description: API Secret for the client. Will be shared by Skyscape.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuzzSessionRequest'
            examples:
              default_example:
                $ref: '#/components/examples/CreateBuzzSessionRequestExample'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuzzSessionResponse'
              examples:
                successExample:
                  $ref: '#/components/examples/CreateBuzzSessionResponseExample'
                failureExample:
                  $ref: '#/components/examples/CreateBuzzSessionFailureResponseExample'
        '400':
          description: Bad request
        '404':
          description: Not found
components:
  schemas:
    CreateBuzzSessionRequest:
      description: Request payload for creating new session.
      properties:
        buzzOrgId:
          $ref: '#/components/schemas/buzzOrgId'
        sessionUser:
          $ref: '#/components/schemas/sessionUser'
        participant:
          $ref: '#/components/schemas/participant'
        action:
          $ref: '#/components/schemas/action'
      required:
        - buzzOrgId
        - sessionUser
        - participant
        - action
    buzzOrgId:
      type: string
      description: Buzz Organization Id
      example: a176oc-8918199
    sessionUser:
      type: object
      description: Buzz login credentials for the user initiating the session
      properties:
        email:
          $ref: '#/components/schemas/email'
        password:
          $ref: '#/components/schemas/password'
        passphrase:
          $ref: '#/components/schemas/passphrase'
    participant:
      type: object
      description: Details of the other party (e.g. patient) participating in the session
      properties:
        id:
          $ref: '#/components/schemas/id'
        firstName:
          $ref: '#/components/schemas/firstName'
        lastName:
          $ref: '#/components/schemas/lastName'
        email:
          $ref: '#/components/schemas/email'
        contactNumber:
          $ref: '#/components/schemas/contactNumber'
    action:
      type: string
      description: Possible values for this field are BuzzGroup or BuzzLink
      oneOf:
        - type: string
          enum:
            - BuzzGroup
          description: finds the care/coordination group for the patient, creates one by cloning if not present and opens the conversation window.
        - type: string
          enum:
            - BuzzLink
          description: finds the BuzzLink user associated with the patient, creates one if not present and opens the conversation window.
    email:
      type: string
      description: Email Id of the person
      example: user@aoc.com
    password:
      type: string
      description: User's Buzz Password
      example: pass123@ac
    passphrase:
      type: string
      description: User's Buzz Passphrase
      example: passphrase123@ac
    id:
      type: string
      description: Patient Id used by organization to identify the patient
      example: BuzzGroup
    firstName:
      type: string
      description: Patient's first name
      example: BuzzGroup
    lastName:
      type: string
      description: Patient's last name
      example: BuzzGroup
    contactNumber:
      type: string
      description: Text enabled contact number for the patient
      example: '9847389432'
    CreateBuzzSessionResponse:
      description: Information about a special event.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/status'
        reason:
          $ref: '#/components/schemas/reason'
        details:
          $ref: '#/components/schemas/details'
      required:
        - status
        - reason
        - details
    status:
      type: string
      description: Status of request. The possible values are SUCCESS, FAILED
      example: SUCCESS
    reason:
      type: string
      description: Reason for failure
      example: Connection Issue
    details:
      type: object
      description: If the request is successful, it will include the JSON containing the URL of the app session to launch the session.
      properties:
        buzzSessionUrl:
          $ref: '#/components/schemas/buzzSessionUrl'
    buzzSessionUrl:
      type: string
      description: URL with sessionId to launch Buzz session.
      example: https://buzz.skyscape.com/sessions/wqrtyqr
  examples:
    CreateBuzzSessionRequestExample:
      summary: Buzz Session
      value:
        buzzOrgId: dad4bce8-f5cb-4078-a211-995864315e39
        sessionUser:
          email: user@aoc.com
          password: '**********'
          passphrase: '*********'
        participant:
          id: 6581-9876
          firstName: Jon
          lastName: Doe
          email: jon@aoc.com
          contactNumber: 9833-200-290
        action: BuzzGroup
    CreateBuzzSessionResponseExample:
      summary: Buzz Session Successful Response
      value:
        status: SUCCESS
        reason: ''
        details:
          buzzSessionUrl: https://buzz.skyscape.com/sessions/wqrtyqr
    CreateBuzzSessionFailureResponseExample:
      summary: Buzz Session Failure Response
      value:
        status: FAILED
        reason: More details about the failure
        details: {}
